.App {
}

.Content {
  background: #fff;
  margin: 0;
  padding: 1px 50px 25px;
  border-radius: 2px;
}

.cut {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.cut button:hover {
  background: #dbdee0;
}
.cut button {
  background: #eceff1;
  color: #8096a2;
}
