
html, body, #root, .App { height: 100%; padding: 0; margin: 0; }
.Header { height: 80px; }
.Main { display: flex; height: calc(100% - 80px); }
.Sidebar { overflow-y: auto; height: 100%; min-width: 100px; }
.Content { height: 100%; width: 100%; }
.CutRenderer { overflow-y: auto; height: calc(100% - 3.8em); }
.Footer { overflow-y: auto; height: 30px; }

.Header {
  background-color: #28303e;
  margin: 0;
  padding: 0.1em 1em;
  color: #dee7f8;
  border-bottom: 1px solid #1c262f;
}

.Sidebar {
  background: #333c4e;
  margin: 0;
  padding: 1px 20px 25px;
  color: #9cabc4;
}

.cut {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.cut button:hover {
  background: #dbdee0;
}
.cut button {
  background: #eceff1;
  color: #8096a2;
}

form > h3 {
  color: #FFF;
}

form > div {
  border-bottom: 1px solid #3b465b;
  padding-bottom: 1em;
}
