.FormInput {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  input {
    background: #e8f0fa;
    color: #404c64;
    border: 0;
    padding: 0.5em 1em;
    border-radius: 3px;
  }
  label {
    display: inline-block;
    text-tranform: uppercase;
    line-height: 2;
  }
}
